In [1]:
import pandas as pd
import numpy as np

### Correlation of annotations without background info

In [2]:
df_other = pd.read_csv("annotator2/noun_adjective_0.csv", index_col=0, encoding="utf8")

for i in range(1, 5):
    df = pd.read_csv(f"annotator2/noun_adjective_{i}.csv", index_col=0, encoding="utf8")
    df_other = pd.concat([df_other, df], ignore_index = True)

In [3]:
df_mine = pd.read_csv("annotator1/noun_adjective_100_0.csv", index_col=0)

for i in range(1, 5):
    df = pd.read_csv(f"annotator1/noun_adjective_100_{i}.csv", index_col=0)
    df_mine = pd.concat([df_mine, df], ignore_index = True)

In [4]:
df_other.head()

         adjective       noun Unnamed: 3
0   kahetsusväärne      komme        yes
1           õnnetu      komme        yes
2  vastutustundetu       isik        yes
3      kergemeelne       isik        yes
4        lootusetu  narkomaan        yes

In [5]:
df_mine.head()

         adjective       noun hinnang
0   kahetsusväärne      komme     yes
1           õnnetu      komme     yes
2  vastutustundetu       isik     yes
3      kergemeelne       isik     yes
4        lootusetu  narkomaan     yes

In [6]:
df_other.columns = ["adjective", "noun", "hinnang"]

In [7]:
df_other["hinnang"] = df_other["hinnang"].str.lower()

In [8]:
df_other.head()

         adjective       noun hinnang
0   kahetsusväärne      komme     yes
1           õnnetu      komme     yes
2  vastutustundetu       isik     yes
3      kergemeelne       isik     yes
4        lootusetu  narkomaan     yes

In [9]:
same = []
different = []

for i, row in df_mine.iterrows():
    my_eval = row["hinnang"]
    other_eval = df_other.at[i, "hinnang"]
    if my_eval == other_eval:
        same.append(i)
    else:
        different.append(i)

In [10]:
len(same) + len(different)

1000

In [11]:
len(same) / (len(same) + len(different))

0.915

In [12]:
df_other.iloc[different[-1]]

adjective     kriitiline
noun         ettevõtmine
hinnang               no
Name: 999, dtype: object

In [13]:
df_mine.iloc[different[-1]]

adjective     kriitiline
noun         ettevõtmine
hinnang              yes
Name: 999, dtype: object

### Correlation of annotations without background info

In [14]:
df_other = pd.read_csv("annotator2/noun_adjective_sentences_0.csv", index_col=0, encoding="utf8")

for i in range(1, 5):
    df = pd.read_csv(f"annotator2/noun_adjective_sentences_{i}.csv", index_col=0, encoding="utf8")
    df_other = pd.concat([df_other, df], ignore_index = True)

In [15]:
df_mine = pd.read_csv("annotator1/noun_adjective_100_sentences_0.csv", index_col=0)

for i in range(1, 5):
    df = pd.read_csv(f"annotator1/noun_adjective_100_sentences_{i}.csv", index_col=0)
    df_mine = pd.concat([df_mine, df], ignore_index = True)

In [16]:
df_other.head()

,sentence,adjective,noun,Unnamed: 4
0,Euroopa Uniooniga seoses on juba palju usutlus...,kahetsusväärne,komme,yes
1,Euroopa Uniooniga seoses on juba palju usutlus...,õnnetu,komme,yes
2,Nii kui ilmuvad esimesed märgid rahulolevatest...,vastutustundetu,isik,yes
3,Nii kui ilmuvad esimesed märgid rahulolevatest...,kergemeelne,isik,yes
4,Oldman nimetab naist “ ***** narkomaaniks ja v...,lootusetu,narkomaan,yes

In [17]:
df_mine.head()

,sentence,adjective,noun,hinnang
0,Euroopa Uniooniga seoses on juba palju usutlus...,kahetsusväärne,komme,yes
1,Euroopa Uniooniga seoses on juba palju usutlus...,õnnetu,komme,yes
2,Nii kui ilmuvad esimesed märgid rahulolevatest...,vastutustundetu,isik,yes
3,Nii kui ilmuvad esimesed märgid rahulolevatest...,kergemeelne,isik,yes
4,Oldman nimetab naist “ <<<ADJ narkomaaniks ja ...,lootusetu,narkomaan,yes

In [18]:
df_other.columns = ["sentence", "adjective", "noun", "hinnang"]

In [19]:
df_other["hinnang"] = df_other["hinnang"].str.lower()

In [20]:
df_other.head()

,sentence,adjective,noun,hinnang
0,Euroopa Uniooniga seoses on juba palju usutlus...,kahetsusväärne,komme,yes
1,Euroopa Uniooniga seoses on juba palju usutlus...,õnnetu,komme,yes
2,Nii kui ilmuvad esimesed märgid rahulolevatest...,vastutustundetu,isik,yes
3,Nii kui ilmuvad esimesed märgid rahulolevatest...,kergemeelne,isik,yes
4,Oldman nimetab naist “ ***** narkomaaniks ja v...,lootusetu,narkomaan,yes

In [21]:
same = []
different = []

for i, row in df_mine.iterrows():
    my_eval = row["hinnang"]
    other_eval = df_other.at[i, "hinnang"]
    if my_eval == other_eval:
        same.append(i)
    else:
        different.append(i)

In [22]:
len(same) + len(different)

1000

In [23]:
len(same) / (len(same) + len(different))

0.86