In [1]:
import pandas as pd
import numpy as np

In [2]:
df_other = pd.read_csv("annotator2/svo_1.csv", index_col=0, encoding="ansi")

for i in range(2, 6):
    df = pd.read_csv(f"annotator2/svo_{i}.csv", index_col=0, encoding="ansi")
    df_other = pd.concat([df_other, df], ignore_index = True)

In [3]:
df_mine = pd.read_csv("annotator1/svo_100_1.csv", index_col=0)

for i in range(2, 6):
    df = pd.read_csv(f"annotator1/svo_100_{i}.csv", index_col=0)
    df_mine = pd.concat([df_mine, df], ignore_index = True)

In [4]:
df_other.head()

      subject     verb      object hinnang
0  väljavaade    saama        võlu      no
1        võlu    saama  väljavaade      no
2        tema  sööbima         ise     yes
3         ise  sööbima        tema      no
4        tema    saama        palk     yes

In [5]:
df_mine.head()

      subject     verb      object hindaja1
0  väljavaade    saama        võlu      yes
1        võlu    saama  väljavaade       no
2        tema  sööbima         ise      yes
3         ise  sööbima        tema       no
4        tema    saama        palk      yes

In [6]:
df_mine.columns = ["subject", "verb", "object", "hinnang"]

In [7]:
df_mine.head()

      subject     verb      object hinnang
0  väljavaade    saama        võlu     yes
1        võlu    saama  väljavaade      no
2        tema  sööbima         ise     yes
3         ise  sööbima        tema      no
4        tema    saama        palk     yes

In [8]:
same = []
different = []

for i, row in df_mine.iterrows():
    my_eval = row["hinnang"]
    other_eval = df_other.at[i, "hinnang"]
    if my_eval == other_eval:
        same.append(i)
    else:
        different.append(i)

In [9]:
len(same) + len(different)

1000

In [10]:
len(same) / (len(same) + len(different))

0.896

In [11]:
df_other.iloc[different[-1]]

subject       mis
verb       õppima
object       sina
hinnang       yes
Name: 989, dtype: object

In [12]:
df_mine.iloc[different[-1]]

subject       mis
verb       õppima
object       sina
hinnang        no
Name: 989, dtype: object