In [1]:
import pandas as pd
import numpy as np

In [2]:
df_other = pd.read_csv("annotator2/svo_sentences_1.csv", index_col=0, encoding="utf8")

for i in range(2, 6):
    df = pd.read_csv(f"annotator2/svo_sentences_{i}.csv", index_col=0, encoding="utf8")
    df_other = pd.concat([df_other, df], ignore_index = True)

In [3]:
df_mine = pd.read_csv("annotator1/svo_100_sentences_1.csv", index_col=0)

for i in range(2, 6):
    df = pd.read_csv(f"annotator1/svo_100_sentences_{i}.csv", index_col=0)
    df_mine = pd.concat([df_mine, df], ignore_index = True)

In [4]:
df_other.head()

,sentence,subject,object,hinnang
0,"Mind ei ***** eriti ***** saada järgmiseks , m...",väljavaade,võlu,no
1,"Mind ei ***** eriti ***** saada järgmiseks , m...",võlu,väljavaade,no
2,Sedavõrd tugevasti on ***** ***** presidendiam...,tema,ise,no
3,Sedavõrd tugevasti on ***** ***** presidendiam...,ise,tema,no
4,"***** saab ***** Tulbi spordiklubist , nii et ...",tema,palk,yes

In [5]:
df_mine.head()

,sentence,subject,object,hinnang,Unnamed: 5
0,"Mind ei ***** eriti ***** saada järgmiseks , m...",väljavaade,võlu,no,NaN
1,"Mind ei ***** eriti ***** saada järgmiseks , m...",võlu,väljavaade,no,NaN
2,Sedavõrd tugevasti on ***** ***** presidendiam...,tema,ise,yes,NaN
3,Sedavõrd tugevasti on ***** ***** presidendiam...,ise,tema,no,NaN
4,"***** saab ***** Tulbi spordiklubist , nii et ...",tema,palk,yes,NaN

In [6]:
same = []
different = []

for i, row in df_mine.iterrows():
    my_eval = row["hinnang"]
    other_eval = df_other.at[i, "hinnang"]
    if my_eval == other_eval:
        same.append(i)
    else:
        different.append(i)

In [7]:
len(same) + len(different)

1000

In [8]:
len(same) / (len(same) + len(different))

0.937

In [9]:
df_other.iloc[different[-1]]

sentence    Muide , ***** juhtis tol ajal ei keegi ***** k...
subject                                                  kool
object                                                    muu
hinnang                                                   yes
Name: 985, dtype: object

In [10]:
df_mine.iloc[different[-1]]

sentence      Muide , ***** juhtis tol ajal ei keegi ***** k...
subject                                                    kool
object                                                      muu
hinnang                                                      no
Unnamed: 5                                                  NaN
Name: 985, dtype: object